name: SCA (Dependency Review)

on:
  pull_request:
    branches: ['master']

permissions:
  contents: read
  pull-requests: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
